<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context">
    <bean id="husband"
        class="com.vitor.minispring.test.bean.Husband">
        <property name="wife" ref="wife" />
    </bean>

    <bean id="wife" class="com.vitor.minispring.test.bean.Wife">
        <property name="husband" ref="husband" />
        <property name="mother" ref="husbandMother" />
    </bean>

    <bean id="husbandMother"
        class="com.vitor.minispring.test.bean.HusbandMother" />

    <bean
        class="com.vitor.minispring.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" />

    <bean id="beforeAdvice"
        class="com.vitor.minispring.test.bean.SpouseAdvice" />

    <bean id="methodInterceptor"
        class="com.vitor.minispring.aop.framework.adapter.MethodBeforeAdviceInterceptor">
        <property name="advice" ref="beforeAdvice" />
    </bean>

    <bean id="pointcutAdvisor"
        class="com.vitor.minispring.aop.aspectj.AspectJExpressionPointcutAdvisor">
        <property name="expression"
            value="execution(* com.vitor.minispring.test.bean.Wife.*(..))" />
        <property name="advice" ref="methodInterceptor" />
    </bean>
</beans>