<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="userDao"
        class="com.vitor.minispring.test.bean.UserDao"
        init-method="initDataMethod" destroy-method="destroyDataMethod" />
    <bean id="userService"
        class="com.vitor.minispring.test.bean.UserService"
        scope="prototype">
        <property name="uId" value="10001" />
        <property name="userDao" ref="proxyUserDao" />
        <property name="company" value="Tesla" />
        <property name="location" value="US" />
    </bean>

    <bean id="proxyUserDao"
        class="com.vitor.minispring.test.bean.ProxyBeanFactory" />

    <bean
        class="com.vitor.minispring.test.common.MyBeanFactoryPostProcessor" />
    <bean
        class="com.vitor.minispring.test.common.MyBeanPostProcessor" />
</beans>