<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean
        class="com.vitor.minispring.beans.factory.PropertyPlaceholderConfigurer">
        <property name="location"
            value="classpath:token.properties" />
    </bean>
    <bean id="userService"
        class="com.vitor.minispring.test.bean.AnnUserService">
        <property name="token" value="${token}" />
    </bean>
</beans>