<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean
        class="com.vitor.minispring.test.event.ContextRefreshedEventListener" />

    <bean
        class="com.vitor.minispring.test.event.CustomEventListener" />

    <bean
        class="com.vitor.minispring.test.event.ContextClosedEventListener" />

</beans>